In [1]:
import datetime
import glob
import json
import os
import sqlite3

import pandas as pd
import seaborn as sns
from IPython.display import display
from matplotlib import pyplot as plt
from numpy import nanmedian as np_nanmedian

# Load Demographics and Dataset_Part-Patient_id bindings

In [2]:
config = None
with open("./config.json", "r") as f:
    config = json.load(f)
    config["RAW_OBS_PATH"] = (
        config["BASE_DATASETS_PATH"] + "/raw_stage/observation_tables"
    )
    config["DB_PATH"] = config["BASE_DATASETS_PATH"] + "/raw_data.db"
with open("./config.json", "w") as f:
    json.dump(config, f, indent=4)

df_demo = pd.read_csv(
    config["BASE_DATASETS_PATH"] + "/reference_data/general_table.csv",
    dtype={
        "patientid": int,
        "sex": str,
        "age": int,
        "discharge_status": str,
    },
    parse_dates=["admissiontime"],
)
display(df_demo.describe(include="all", datetime_is_numeric=True))

df_pid_part = pd.read_csv(
    config["RAW_OBS_PATH"] + "/observation_tables_index.csv",
    dtype={
        "patientid": int,
        "part": int,
    },
)
df_pid_part.sort_values(by=["part"], inplace=True)

,patientid,admissiontime,sex,age,discharge_status
count,33905.000000,33905,33905,33905.000000,33666
unique,NaN,NaN,2,NaN,2
top,NaN,NaN,M,NaN,alive
freq,NaN,NaN,21767,NaN,31604
mean,16953.000000,2151-03-13 08:23:47.234832384,NaN,63.523964,NaN
min,1.000000,2102-11-27 06:45:00,NaN,20.000000,NaN
25%,8477.000000,2129-02-14 12:20:00,NaN,55.000000,NaN
50%,16953.000000,2151-05-23 19:30:00,NaN,65.000000,NaN
75%,25429.000000,2173-04-07 18:30:00,NaN,75.000000,NaN
max,33905.000000,2198-09-03 16:35:00,NaN,90.000000,NaN
std,9787.674775,NaN,NaN,15.196436,NaN

# Move Everything to SQLite

Skip if you already have the DB

In [3]:
for x in df_pid_part["part"].unique():
    if (x + 1) % 25 == 0:
        print((x + 1) / len(df_pid_part["part"].unique()))
    df_part_X = pd.read_csv(
        config["RAW_OBS_PATH"] + f"/csv/part-{x}.csv",
        dtype={
            "patientid": int,
            "status": int,
            "stringvalue": str,
            "type": str,
            "value": str,
            "variableid": str,
        },
        parse_dates=["datetime", "entertime"],
    )
    conn = sqlite3.connect(config["DB_PATH"])
    df_part_X.to_sql(name="raw_data", con=conn, if_exists="append", index=False)
    conn.close()

conn = sqlite3.connect(config["DB_PATH"])
cur = conn.cursor()
print("Creating index on datetime...")
cur.execute("CREATE INDEX index_datetime ON raw_data(datetime)")
print("Creating index on patientid...")
cur.execute("CREATE INDEX index_patient_id ON raw_data(patientid)")
print("Creating index on variableid...")
cur.execute("CREATE INDEX index_variable_id ON raw_data(variableid)")
conn.close()

0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
1.0
Creating index on datetime...
Creating index on patientid...
Creating index on variableid...

# Filtering

Skip if you already have the .txt filter files

## Filter Age >= 18 Years Old

No effect, patients inside HiRID are all >= 18 years old

In [4]:
df_demo = df_demo[df_demo["age"] >= 18]
df_demo.reset_index(drop=True, inplace=True)

## Filter Stay >= 1 Day

In [5]:
filtered_pids = list()

conn = sqlite3.connect(config["DB_PATH"])
df_raw = pd.read_sql(
    "SELECT patientid, MAX(datetime) as last_datetime FROM raw_data GROUP BY patientid",
    conn,
    parse_dates=["last_datetime"],
    chunksize=1000,
)
for df in df_raw:
    for tup in df.itertuples():
        # last datetime - admissiontime
        if (
            tup.last_datetime
            - df_demo[df_demo["patientid"] == tup.patientid].iloc[0]["admissiontime"]
        ) >= datetime.timedelta(days=1):
            filtered_pids.append(tup.patientid)
    print(len(filtered_pids))
conn.close()

with open("./results/patients_18+_1d+.txt", "w") as f:
    for x in filtered_pids:
        f.write(f"{x}\n")
print(len(filtered_pids))

511
991
1495
1988
2503
3003
3503
4000
4509
4999
5525
6013
6514
7020
7513
8000
8479
8979
9492
9994
10470
10995
11479
11983
12472
12962
13446
13919
14413
14901
15366
15853
16339
16787
16787

## Filter Lactate_Measurements >= 2

This should be useless as the next filter tests that lactate_measurements >= 2 in the first 2d (CHECK)

So obviously if there are 2+ lactate measurements in the first 2d then there are of course 2+ lactate measurements in general

In [6]:
filtered_pids = list()
previously_filtered = list()
with open("./results/patients_18+_1d+.txt", "r") as f:
    previously_filtered.extend(int(x) for x in f.readlines())

conn = sqlite3.connect(config["DB_PATH"])
lact_vars = "', '".join([str(x) for x in config["lactate_var_ids"]])
pids_checks = ", ".join([str(x) for x in previously_filtered])
df_raw = pd.read_sql(
    f"SELECT patientid, COUNT(*) as cnt_lactate_measurements FROM raw_data WHERE (variableid IN ('{lact_vars}')) AND (patientid IN ({pids_checks})) GROUP BY patientid",
    conn,
    chunksize=1000,
)
for df in df_raw:
    for tup in df.itertuples():
        # 2+ lactate measurements
        if tup.cnt_lactate_measurements >= 2:
            filtered_pids.append(tup.patientid)
    print(len(filtered_pids))
conn.close()

with open("./results/patients_18+_1d+_2+lactate_measurements.txt", "w") as f:
    for x in filtered_pids:
        f.write(f"{x}\n")
print(len(filtered_pids))

981
1960
2943
3924
4908
5885
6868
7845
8823
9806
10783
11770
12748
13728
14709
15249
15249

## Filter Lactate_Measurements >= 2 in First 2d of Stay

In [7]:
filtered_pids = list()
previously_filtered = list()
with open("./results/patients_18+_1d+_2+lactate_measurements.txt", "r") as f:
    previously_filtered.extend(int(x) for x in f.readlines())

conn = sqlite3.connect(config["DB_PATH"])
lact_vars = "', '".join([str(x) for x in config["lactate_var_ids"]])
for pid in previously_filtered:
    post_2d = df_demo[df_demo["patientid"] == pid].iloc[0][
        "admissiontime"
    ] + datetime.timedelta(days=2)
    df_raw = pd.read_sql(
        f"SELECT patientid, COUNT(*) AS cnt_lactate_measurements FROM raw_data WHERE (variableid IN ('{lact_vars}')) AND (patientid={pid}) AND (datetime<='{post_2d}')",
        conn,
    )
    for tup in df_raw.itertuples():
        # 2+ lactate measurements in first 2d
        if tup.cnt_lactate_measurements >= 2:
            filtered_pids.append(pid)
    if len(filtered_pids) % 1000 == 0:
        print(len(filtered_pids))
conn.close()

with open("./results/patients_18+_1d+_2+lactate_measurements_in_first2d.txt", "w") as f:
    for x in filtered_pids:
        f.write(f"{x}\n")
print(len(filtered_pids))

1000
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
15099

# Create Single-Variable Files

In [8]:
patientids = list()
with open("./results/patients_18+_1d+_2+lactate_measurements_in_first2d.txt", "r") as f:
    patientids.extend(int(x) for x in f.readlines())

var_bindings = dict()
with open("./var_id_var_name_bindings.json", "r") as f:
    var_bindings = json.load(f)

os.makedirs("./results/distribution_plots/data", exist_ok=True)
# avoid duplicated columns
dynamic_columns = list(dict.fromkeys(var_bindings["dynamic"].values()).keys())
pids_checks = "', '".join([str(x) for x in patientids])
# skip patientid, datetime, entertime
for var in dynamic_columns[3:]:
    # remove invalid characters from filename
    filename = var
    for c in ("\\", "/", ":", "*", "?", '"', "<", ">", "|"):
        filename = filename.replace(c, "_")
    # get all HiRID var_ids connected to final variable name
    var_X_ids = [k for k, v in var_bindings["dynamic"].items() if v == var]
    print(var, var_X_ids)
    var_ids_checks = "', '".join(var_X_ids)
    conn = sqlite3.connect(config["DB_PATH"])
    df_var_raw = pd.read_sql(
        f"SELECT value FROM raw_data WHERE (patientid IN ('{pids_checks}')) AND (variableid IN ('{var_ids_checks}'))",
        conn,
    )
    df_var_raw.to_csv(f"./results/distribution_plots/data/{filename}.csv", index=False)
    conn.close()

Activated Partial Thromboplastin Time ['20004410']
Alanine aminotransferase ['20002600']
Albumin ['24000605']
Alkaline phosphatase ['20002700']
Anion Gap ['anion_gap_computed']
Aspartate aminotransferase ['24000330']
Base excess ['20001300']
Bicarbonate ['20004200']
Bilirubin.total ['20004300']
Body Height ['10000450']
Body Weight ['10000400']
Calcium ['20005100']
Calcium.ionized ['24000522']
Carbon dioxide [Partial pressure] ['20001200']
Central Venous Pressure ['700', '960', '15001441']
Chloride ['24000439', '24000521']
Creatinine ['20000600']
Diastolic Arterial Blood Pressure ['diastolic_arterial_bp_computed']
Fraction of Inspired Oxygen ['2010']
Glasgow Coma Score - Verbal Response ['10000100']
Glasgow Coma Score - Motor Response ['10000200']
Glasgow Coma Score - Eye Opening ['10000300']
Glasgow Coma Score - Total ['gcs-total_computed']
Glucose ['20005110', '24000523', '24000585']
Heart rate ['200']
Hemoglobin ['20000900', '24000548', '24000836']
Invasive Diastolic Arterial Blood Pressure ['120']
Invasive Mean Arterial Blood Pressure ['110']
Invasive Systolic Arterial Blood Pressure ['100']
Lactate ['24000485', '24000524', '24000564', '24000732']
Leukocytes ['20000700']
Lymphocytes ['24000480']
Magnesium ['24000230']
Mean Arterial Blood Pressure ['mean_arterial_bp_computed']
Mean Cell Hemoglobin ['24000160']
Mean Cell Hemoglobin Concentration ['24000170']
Mean Corpuscular Volume ['24000150']
Non-Invasive Diastolic Arterial Blood Pressure ['620']
Non-Invasive Mean Arterial Blood Pressure ['610']
Non-Invasive Systolic Arterial Blood Pressure ['600']
Oxygen [Partial pressure] ['20000200']
Oxygen Saturation ['4000', '4200', '8280', '20000800', '20001000', '24000737']
pH ['20000300']
Phosphate ['20002500']
Platelets ['20000110']
Potassium ['20000500', '24000520', '24000833', '24000867']
Prothrombin activity ['24000666']
Red blood cell Distribution Width ['rdw_computed']
Respiratory rate ['300', '310', '5685']
Sodium ['20000400', '20003200', '24000519', '24000658', '24000835', '24000866']
Systolic Arterial Blood Pressure ['systolic_arterial_bp_computed']
Temperature ['400', '410', '7100']
Troponin T.cardiac ['24000538', '24000806']
Urea ['20004100']
Urine Output ['10020000']
Ammonia [Moles/volume] in Blood ['24000568']
Amylase [Enzymatic activity/volume] in Body fluid ['24000587']
Amylase [Enzymatic activity/volume] in Serum or Plasma ['24000427']
APACHE II Group ['9990002']
APACHE IV Group ['9990004']
Band form neutrophils/100 leukocytes in Blood ['24000557']
C reactive protein [Mass/volume] in Serum or Plasma ['20002200']
Carboxyhemoglobin/Hemoglobin.total in Arterial blood ['24000526']
Cardiac output ['1000']
Circadian rhythm ['15001166']
Coagulation factor V activity actual/normal in Platelet poor plasma by Coagulation assay ['24000637']
Coagulation factor VII activity actual/normal in Platelet poor plasma by Coagulation assay ['24000552']
Coagulation factor X activity actual/normal in Platelet poor plasma by Coagulation assay ['24000667']
Cortisol [Moles/volume] in Serum or Plasma ['24000665']
Creatine kinase panel - Serum or Plasma ['24000210']
Creatine kinase.MB [Mass/volume] in Serum or Plasma ['24000220']
End tidal carbon dioxide concentration ['2200', '8290', '30010009']
Erythrocyte sedimentation rate ['24000668']
Expiratory tidal volume ['2410']
Ferritin [Mass/volume] in Blood ['24000678']
Fibrinogen [Mass/volume] in Platelet poor plasma by Coagulation assay ['24000536']
Fluid balance in ['30005010']
Fluid balance out ['30005110']
Gamma glutamyl transferase [Enzymatic activity/volume] in Serum or Plasma ['24000370']
Infusion of saline solution ['30005075']
INR in Blood by Coagulation assay ['24000567']
Intracranial pressure ['510', '15004303', '15001597']
Intravenous fluid colloid administration ['30005080']
Lipase [Enzymatic activity/volume] in Serum or Plasma ['24000555']
Mean inspiratory airway pressure ['3000']
Measurement of output from drain ['10010020', '10010072', '10010070', '10010071']
Methemoglobin/Hemoglobin.total in Arterial blood ['24000549']
Natriuretic peptide.B prohormone N-Terminal [Mass/volume] in Serum or Plasma ['24000569']
Neutrophils/100 leukocytes in Blood ['24000550']
Oxygen administration by mask ['15001555']
Oxygen administration by nasal cannula ['15001525']
Peak inspiratory pressure ['3110']
Plateau pressure ['3200']
Positive end expiratory pressure ['2610']
Positive end expiratory pressure setting ['2600']
Procalcitonin [Mass/volume] in Serum or Plasma ['24000570']
Pulmonary artery diastolic pressure ['170']
Pulmonary artery mean pressure ['160']
Pulmonary artery systolic pressure ['150']
Pulmonary artery wedge pressure ['800']
Richmond agitation-sedation scale ['15001565']
Segmented neutrophils/100 leukocytes in Blood ['24000556']
ST elevation ['210', '211', '212']
Thyrotropin [Units/volume] in Serum or Plasma ['24000664']
Tidal volume setting ['2400']
Train of four count ['7887']
Ventilator Airway Code ['15001552']
Ventilator mode ['3845']
Ventilator rate ['320']

# Run plots.R to Get Distribution Plots

# Create Ranges File

In [9]:
var_bindings = dict()
with open("./var_id_var_name_bindings.json", "r") as f:
    var_bindings = json.load(f)

tmp = dict()
try:
    with open("./var_ranges.json", "r") as f:
        tmp = json.load(f)
except Exception:
    pass
# avoid duplicated columns
dynamic_columns = list(dict.fromkeys(var_bindings["dynamic"].values()).keys())
# skip patientid, datetime, entertime
for var in dynamic_columns[3:]:
    if var not in tmp:
        tmp[var] = dict(min=None, max=None)

# load ranges' file taken from https://github.com/ratschlab/HIRID-ICU-Benchmark/
df_benchmark_ranges = pd.read_csv("../Materials/varref.tsv", sep="\t")
df_benchmark_ranges = df_benchmark_ranges.iloc[:, [2, 3, 4, 5, 6]]
df_benchmark_ranges["variableid"] = df_benchmark_ranges["variableid"].astype(int)
df_benchmark_ranges

for tup in df_benchmark_ranges.itertuples():
    var = (
        var_bindings["dynamic"][str(tup.variableid)]
        if str(tup.variableid) in var_bindings["dynamic"]
        else None
    )
    if var:
        if not pd.isna(tup.lowerbound):
            if tmp[var]["min"] is not None:
                # if saved min is higher than new min replace it
                if tmp[var]["min"] > tup.lowerbound:
                    tmp[var]["min"] = tup.lowerbound
            else:
                tmp[var]["min"] = tup.lowerbound
        if not pd.isna(tup.upperbound):
            if tmp[var]["max"] is not None:
                # if saved max is lower than new max replace it
                if tmp[var]["max"] < tup.upperbound:
                    tmp[var]["max"] = tup.upperbound
            else:
                tmp[var]["max"] = tup.upperbound

with open("./var_ranges.json", "w") as f:
    json.dump(tmp, f, indent=4)

# Apply Ranges to Single-Variable Files and Plot Again

In [10]:
var_bindings = dict()
with open("./var_id_var_name_bindings.json", "r") as f:
    var_bindings = json.load(f)

var_ranges = dict()
with open("./var_ranges.json", "r") as f:
    var_ranges = json.load(f)

# avoid duplicated columns
dynamic_columns = list(dict.fromkeys(var_bindings["dynamic"].values()).keys())
for var in dynamic_columns[3:]:
    # remove invalid characters from filename
    filename = var
    for c in ("\\", "/", ":", "*", "?", '"', "<", ">", "|"):
        filename = filename.replace(c, "_")
    print(var)
    df_var_raw = pd.read_csv(
        f"./results/distribution_plots/data/{filename}.csv"
    )
    if var in var_ranges.keys():
        filename = f"{filename} FILTERED"
        if var_ranges[var]["min"] is not None:
            df_var_raw = df_var_raw[df_var_raw["value"] >= var_ranges[var]["min"]]
        if var_ranges[var]["max"] is not None:
            df_var_raw = df_var_raw[df_var_raw["value"] <= var_ranges[var]["max"]]
    # plots
    f, (ax1, ax2) = plt.subplots(ncols=2, figsize=(20, 10))
    ax1.title.set_text(var)
    ax2.title.set_text(var)
    sns.boxplot(y=df_var_raw["value"], ax=ax1)
    sns.histplot(x=df_var_raw["value"], ax=ax2)
    ax1.set_ylabel("Value")
    ax2.set_xlabel("Value")
    # disable scientific notation
    plt.ticklabel_format(style="plain", axis="y")
    plt.tight_layout()
    plt.savefig(f"./results/distribution_plots/{filename}.png")
    plt.close()

Activated Partial Thromboplastin Time
Alanine aminotransferase
Albumin
Alkaline phosphatase
Anion Gap
Aspartate aminotransferase
Base excess
Bicarbonate
Bilirubin.total
Body Height
Body Weight
Calcium
Calcium.ionized
Carbon dioxide [Partial pressure]
Central Venous Pressure
Chloride
Creatinine
Diastolic Arterial Blood Pressure
Fraction of Inspired Oxygen
Glasgow Coma Score - Verbal Response
Glasgow Coma Score - Motor Response
Glasgow Coma Score - Eye Opening
Glasgow Coma Score - Total
Glucose
Heart rate
Hemoglobin
Invasive Diastolic Arterial Blood Pressure
Invasive Mean Arterial Blood Pressure
Invasive Systolic Arterial Blood Pressure
Lactate
Leukocytes
Lymphocytes
Magnesium
Mean Arterial Blood Pressure
Mean Cell Hemoglobin
Mean Cell Hemoglobin Concentration
Mean Corpuscular Volume
Non-Invasive Diastolic Arterial Blood Pressure
Non-Invasive Mean Arterial Blood Pressure
Non-Invasive Systolic Arterial Blood Pressure
Oxygen [Partial pressure]
Oxygen Saturation
pH
Phosphate
Platelets
Potassium
Prothrombin activity
Red blood cell Distribution Width
Respiratory rate
Sodium
Systolic Arterial Blood Pressure
Temperature
Troponin T.cardiac
Urea
Urine Output
Ammonia [Moles/volume] in Blood
Amylase [Enzymatic activity/volume] in Body fluid
Amylase [Enzymatic activity/volume] in Serum or Plasma
APACHE II Group
APACHE IV Group
Band form neutrophils/100 leukocytes in Blood
C reactive protein [Mass/volume] in Serum or Plasma
Carboxyhemoglobin/Hemoglobin.total in Arterial blood
Cardiac output
Circadian rhythm
Coagulation factor V activity actual/normal in Platelet poor plasma by Coagulation assay
Coagulation factor VII activity actual/normal in Platelet poor plasma by Coagulation assay
Coagulation factor X activity actual/normal in Platelet poor plasma by Coagulation assay
Cortisol [Moles/volume] in Serum or Plasma
Creatine kinase panel - Serum or Plasma
Creatine kinase.MB [Mass/volume] in Serum or Plasma
End tidal carbon dioxide concentration
Erythrocyte sedimentation rate
Expiratory tidal volume
Ferritin [Mass/volume] in Blood
Fibrinogen [Mass/volume] in Platelet poor plasma by Coagulation assay
Fluid balance in
Fluid balance out
Gamma glutamyl transferase [Enzymatic activity/volume] in Serum or Plasma
Infusion of saline solution
INR in Blood by Coagulation assay
Intracranial pressure
Intravenous fluid colloid administration
Lipase [Enzymatic activity/volume] in Serum or Plasma
Mean inspiratory airway pressure
Measurement of output from drain
Methemoglobin/Hemoglobin.total in Arterial blood
Natriuretic peptide.B prohormone N-Terminal [Mass/volume] in Serum or Plasma
Neutrophils/100 leukocytes in Blood
Oxygen administration by mask
Oxygen administration by nasal cannula
Peak inspiratory pressure
Plateau pressure
Positive end expiratory pressure
Positive end expiratory pressure setting
Procalcitonin [Mass/volume] in Serum or Plasma
Pulmonary artery diastolic pressure
Pulmonary artery mean pressure
Pulmonary artery systolic pressure
Pulmonary artery wedge pressure
Richmond agitation-sedation scale
Segmented neutrophils/100 leukocytes in Blood
ST elevation
Thyrotropin [Units/volume] in Serum or Plasma
Tidal volume setting
Train of four count
Ventilator Airway Code
Ventilator mode
Ventilator rate

# Extract Patients

In [11]:
patientids = list()
with open("./results/patients_18+_1d+_2+lactate_measurements_in_first2d.txt", "r") as f:
    patientids.extend(int(x) for x in f.readlines())
# patientids = [17786, 16503, 22946, 9465, 6586]
# create a folder for each patient
for pid in patientids:
    os.makedirs(f"./results/{pid}", exist_ok=True)
patientids

[2,
 4,
 5,
 7,
 9,
 11,
 14,
 24,
 27,
 29,
 30,
 36,
 37,
 38,
 40,
 43,
 44,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 59,
 60,
 61,
 63,
 67,
 69,
 72,
 76,
 80,
 81,
 83,
 88,
 90,
 91,
 96,
 97,
 99,
 100,
 104,
 105,
 107,
 109,
 110,
 112,
 117,
 118,
 122,
 124,
 126,
 127,
 129,
 133,
 135,
 136,
 137,
 138,
 139,
 141,
 144,
 147,
 150,
 151,
 152,
 160,
 161,
 166,
 167,
 171,
 172,
 175,
 178,
 179,
 182,
 184,
 188,
 190,
 191,
 193,
 194,
 195,
 197,
 199,
 200,
 205,
 206,
 209,
 210,
 211,
 212,
 218,
 219,
 220,
 222,
 225,
 226,
 227,
 230,
 231,
 234,
 235,
 237,
 239,
 240,
 241,
 243,
 246,
 248,
 250,
 253,
 254,
 258,
 260,
 261,
 263,
 264,
 266,
 267,
 271,
 272,
 275,
 276,
 278,
 280,
 281,
 283,
 288,
 290,
 291,
 293,
 294,
 295,
 296,
 298,
 299,
 301,
 303,
 305,
 306,
 307,
 309,
 310,
 312,
 313,
 314,
 319,
 320,
 324,
 326,
 328,
 330,
 331,
 333,
 336,
 338,
 339,
 340,
 345,
 348,
 350,
 351,
 352,
 353,
 355,
 356,
 357,
 359,
 362,
 363,
 364,
 365,
 367,
 369,
 370,
 371,
 373,
 376,
 378,
 382,
 384,
 385,
 386,
 388,
 389,
 390,
 397,
 398,
 400,
 401,
 402,
 403,
 408,
 409,
 417,
 418,
 420,
 422,
 425,
 426,
 431,
 433,
 435,
 436,
 437,
 440,
 443,
 446,
 448,
 449,
 450,
 457,
 458,
 460,
 461,
 462,
 467,
 468,
 475,
 477,
 480,
 481,
 483,
 484,
 487,
 488,
 490,
 491,
 493,
 494,
 495,
 498,
 499,
 504,
 509,
 510,
 511,
 514,
 517,
 518,
 520,
 524,
 526,
 527,
 530,
 532,
 534,
 535,
 541,
 542,
 543,
 546,
 549,
 552,
 554,
 555,
 556,
 558,
 561,
 569,
 571,
 572,
 576,
 578,
 580,
 581,
 586,
 588,
 589,
 590,
 593,
 598,
 601,
 602,
 606,
 607,
 610,
 611,
 612,
 615,
 616,
 617,
 621,
 623,
 627,
 631,
 634,
 638,
 640,
 642,
 648,
 649,
 650,
 652,
 656,
 657,
 659,
 660,
 661,
 662,
 663,
 664,
 666,
 668,
 669,
 672,
 673,
 674,
 680,
 682,
 684,
 685,
 687,
 688,
 695,
 697,
 700,
 701,
 702,
 703,
 706,
 707,
 708,
 709,
 715,
 717,
 718,
 719,
 720,
 722,
 727,
 730,
 731,
 735,
 738,
 740,
 741,
 742,
 747,
 755,
 758,
 759,
 761,
 765,
 768,
 772,
 774,
 776,
 777,
 779,
 780,
 783,
 786,
 788,
 789,
 791,
 792,
 795,
 796,
 797,
 798,
 801,
 802,
 803,
 806,
 807,
 808,
 809,
 810,
 811,
 813,
 817,
 821,
 822,
 825,
 827,
 830,
 831,
 834,
 835,
 837,
 839,
 842,
 844,
 845,
 853,
 854,
 855,
 856,
 860,
 862,
 868,
 870,
 871,
 875,
 877,
 879,
 884,
 888,
 889,
 890,
 891,
 898,
 901,
 902,
 903,
 908,
 909,
 911,
 912,
 915,
 916,
 918,
 919,
 920,
 922,
 924,
 926,
 927,
 929,
 933,
 934,
 936,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 950,
 955,
 957,
 961,
 965,
 967,
 970,
 976,
 977,
 978,
 980,
 981,
 982,
 984,
 988,
 991,
 992,
 995,
 996,
 997,
 1001,
 1003,
 1005,
 1006,
 1011,
 1013,
 1015,
 1016,
 1018,
 1029,
 1030,
 1034,
 1037,
 1041,
 1043,
 1046,
 1047,
 1051,
 1055,
 1062,
 1064,
 1066,
 1071,
 1073,
 1077,
 1089,
 1092,
 1095,
 1097,
 1101,
 1105,
 1107,
 1113,
 1114,
 1115,
 1116,
 1119,
 1127,
 1134,
 1135,
 1139,
 1140,
 1144,
 1145,
 1146,
 1150,
 1153,
 1154,
 1157,
 1162,
 1165,
 1166,
 1167,
 1169,
 1177,
 1180,
 1181,
 1185,
 1186,
 1187,
 1192,
 1197,
 1198,
 1199,
 1200,
 1201,
 1205,
 1207,
 1209,
 1210,
 1212,
 1213,
 1214,
 1215,
 1218,
 1219,
 1221,
 1222,
 1223,
 1225,
 1227,
 1228,
 1229,
 1230,
 1231,
 1234,
 1235,
 1237,
 1240,
 1243,
 1244,
 1245,
 1247,
 1248,
 1251,
 1257,
 1258,
 1259,
 1265,
 1268,
 1269,
 1271,
 1273,
 1274,
 1276,
 1278,
 1279,
 1281,
 1282,
 1283,
 1285,
 1289,
 1291,
 1296,
 1298,
 1300,
 1306,
 1310,
 1311,
 1314,
 1319,
 1322,
 1323,
 1326,
 1327,
 1330,
 1332,
 1333,
 1334,
 1337,
 1340,
 1341,
 1342,
 1343,
 1345,
 1349,
 1350,
 1351,
 1353,
 1354,
 1359,
 1360,
 1361,
 1366,
 1369,
 1371,
 1376,
 1378,
 1379,
 1380,
 1383,
 1384,
 1386,
 1389,
 1394,
 1395,
 1398,
 1400,
 1401,
 1402,
 1403,
 1404,
 1405,
 1407,
 1411,
 1413,
 1414,
 1415,
 1416,
 1417,
 1419,
 1426,
 1429,
 1430,
 1431,
 1432,
 1433,
 1438,
 1440,
 1442,
 1443,
 1445,
 1446,
 1448,
 1450,
 1451,
 1454,
 1455,
 1456,
 1457,
 1459,
 1462,
 1463,
 1465,
 1467,
 1468,
 1469,
 1470,
 1471,
 1472,
 1474,
 1478,
 1485,
 1487,
 1488,
 1489,
 1491,
 1493,
 1494,
 1497,
 1500,
 1501,
 1503,
 1506,
 1507,
 1508,
 1509,
 1510,
 1512,
 1517,
 1520,
 1523,
 1527,
 1532,
 1533,
 1536,
 1538,
 1540,
 1542,
 1544,
 1549,
 1553,
 1554,
 1555,
 1557,
 1560,
 1561,
 1565,
 1573,
 1574,
 1576,
 1577,
 1578,
 1582,
 1583,
 1586,
 1588,
 1591,
 1594,
 1596,
 1598,
 1600,
 1603,
 1604,
 1612,
 1616,
 1617,
 1618,
 1619,
 1622,
 1623,
 1625,
 1630,
 1632,
 1636,
 1638,
 1639,
 1642,
 1643,
 1645,
 1647,
 1649,
 1650,
 1652,
 1653,
 1655,
 1656,
 1659,
 1664,
 1672,
 1673,
 1675,
 1676,
 1677,
 1681,
 1682,
 1684,
 1690,
 1697,
 1698,
 1701,
 1706,
 1707,
 1709,
 1711,
 1715,
 1716,
 1717,
 1719,
 1723,
 1726,
 1727,
 1728,
 1729,
 1730,
 1733,
 1735,
 1741,
 1745,
 1748,
 1749,
 1751,
 1753,
 1754,
 1755,
 1756,
 1759,
 1760,
 1763,
 1764,
 1767,
 1769,
 1770,
 1771,
 1774,
 1776,
 1777,
 1778,
 1779,
 1780,
 1781,
 1783,
 1784,
 1785,
 1788,
 1789,
 1792,
 1793,
 1794,
 1796,
 1798,
 1800,
 1801,
 1804,
 1806,
 1808,
 1810,
 1811,
 1812,
 1813,
 1815,
 1817,
 1818,
 1820,
 1824,
 1825,
 1829,
 1835,
 1838,
 1839,
 1842,
 1844,
 1850,
 1851,
 1853,
 1855,
 1857,
 1859,
 1860,
 1862,
 1863,
 1864,
 1866,
 1867,
 1869,
 1870,
 1872,
 1873,
 1875,
 1884,
 1886,
 1887,
 1888,
 1889,
 1893,
 1894,
 1896,
 1900,
 1901,
 1903,
 1904,
 1906,
 1907,
 1908,
 1910,
 1911,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1924,
 1926,
 1927,
 1929,
 1930,
 1931,
 1934,
 1935,
 1936,
 1937,
 1939,
 1941,
 1942,
 1943,
 1947,
 1952,
 1953,
 1954,
 1958,
 1959,
 1961,
 1965,
 1966,
 1969,
 1977,
 1979,
 1981,
 1983,
 1986,
 1987,
 1988,
 1994,
 1995,
 1997,
 2000,
 2005,
 2006,
 2007,
 2009,
 2010,
 2011,
 2013,
 2016,
 2019,
 2021,
 2024,
 2026,
 2028,
 2029,
 2030,
 2040,
 2043,
 2044,
 2045,
 2047,
 2052,
 2054,
 2055,
 2056,
 2058,
 2061,
 2062,
 2063,
 2065,
 2066,
 2069,
 2071,
 2073,
 2074,
 2076,
 2078,
 2082,
 2088,
 2089,
 2094,
 2097,
 2099,
 2103,
 2104,
 2107,
 2109,
 2112,
 2113,
 2114,
 2115,
 2117,
 2119,
 2120,
 2122,
 2125,
 2126,
 2127,
 2128,
 2129,
 2131,
 2136,
 2138,
 2140,
 2141,
 2142,
 2147,
 2148,
 2149,
 2159,
 2161,
 2162,
 2168,
 2169,
 2174,
 2175,
 2177,
 2178,
 2179,
 2182,
 2183,
 2185,
 2186,
 2189,
 2190,
 2191,
 2195,
 2196,
 2197,
 2198,
 2199,
 2204,
 2205,
 2206,
 2210,
 2212,
 2213,
 2216,
 2217,
 2219,
 2220,
 2223,
 2224,
 2226,
 2230,
 2232,
 2233,
 ...]

# Split HiRID in Patients' Datasets

## Original Format

In [12]:
var_bindings = dict()
with open("./var_id_var_name_bindings.json", "r") as f:
    var_bindings = json.load(f)

for pid in patientids:
    os.makedirs(f"./results/{pid}", exist_ok=True)
    var_ids_checks = "', '".join(var_bindings["dynamic"].keys())
    conn = sqlite3.connect(config["DB_PATH"])
    df_raw = pd.read_sql(
        f"SELECT * FROM raw_data WHERE (patientid={pid}) AND (variableid IN ('{var_ids_checks}')) ORDER BY datetime, entertime",
        conn,
        parse_dates=["datetime", "entertime"],
    )
    df_raw.to_csv(f"./results/{pid}/{pid}_original.csv", index=False)
    conn.close()

## Static Format

In [13]:
var_bindings = dict()
with open("./var_id_var_name_bindings.json", "r") as f:
    var_bindings = json.load(f)

static_columns = list(var_bindings["static"].values())
for tup in df_demo[df_demo["patientid"].isin(patientids)].itertuples():
    last_datetime = pd.read_csv(
        f"./results/{tup.patientid}/{tup.patientid}_original.csv",
        dtype={
            "patientid": int,
            "status": int,
            "stringvalue": str,
            "type": str,
            "value": str,
            "variableid": str,
        },
        parse_dates=["datetime", "entertime"],
    ).iloc[-1]["datetime"]
    df_static = pd.DataFrame(columns=static_columns)
    df_static.loc[0] = [getattr(tup, x, None) for x in var_bindings["static"].keys()]
    # compute length of stay
    df_static.at[0, "Length of stay (days)"] = round(
        (last_datetime - df_static.iloc[0]["Admission Time"]).total_seconds()
        / 60
        / 60
        / 24,
        2,
    )
    df_static.to_csv(
        f"./results/{tup.patientid}/{tup.patientid}_static.csv", index=False
    )

## Dynamic Format

In [14]:
var_bindings = dict()
with open("./var_id_var_name_bindings.json", "r") as f:
    var_bindings = json.load(f)

var_ranges = dict()
with open("./var_ranges.json", "r") as f:
    var_ranges = json.load(f)

# avoid duplicated columns
dynamic_columns = list(dict.fromkeys(var_bindings["dynamic"].values()).keys())
var_ids_checks = var_bindings["dynamic"].keys()
for pid in patientids:
    df_pid_raw_data = pd.read_csv(
        f"./results/{pid}/{pid}_original.csv",
        dtype={
            "patientid": int,
            "status": int,
            "stringvalue": str,
            "type": str,
            "value": str,
            "variableid": str,
        },
        parse_dates=["datetime", "entertime"],
    )
    df_pid_raw_data = df_pid_raw_data[
        df_pid_raw_data["variableid"].isin(var_ids_checks)
    ]
    pid_admission_time = df_demo[df_demo["patientid"] == pid]["admissiontime"].iloc[0]
    # dynamic data with minutes of stay as key
    tmp_dict = dict()
    for tup in df_pid_raw_data.itertuples():
        row_key = round((tup.datetime - pid_admission_time).total_seconds() / 60, 2)
        if row_key not in tmp_dict:
            tmp_dict[row_key] = dict.fromkeys(dynamic_columns)
            tmp_dict[row_key][var_bindings["dynamic"]["datetime"]] = tup.datetime
            # entertime could be different for different values of the same record, maybe we should remove it
            # i.e. some values have the same datetime (observation) but different entertime (insertion into db)
            tmp_dict[row_key][var_bindings["dynamic"]["entertime"]] = tup.entertime
        var = var_bindings["dynamic"][tup.variableid]
        # lactate priority
        if var == "Lactate":
            # check lactate variables priority (use arterial, if not available use venous)
            if tup.variableid != "24000524":
                # not arterial lactate, check if there's some lactate value already present
                if tmp_dict[row_key][var] is not None:
                    # lactate value already present, skip since it's probably an arterial one
                    continue

        # check if value is in its validity range, if not skip value
        if var in var_ranges.keys() and tup.value:
            if var_ranges[var]["min"] is not None:
                if float(tup.value) < var_ranges[var]["min"]:
                    continue
            if var_ranges[var]["max"] is not None:
                if float(tup.value) > var_ranges[var]["max"]:
                    continue
        tmp_dict[row_key][var] = tup.value

        # create new "computed" vars for bp and set bp priority
        if var in (
            "Invasive Diastolic Arterial Blood Pressure",
            "Non-Invasive Diastolic Arterial Blood Pressure",
            "Invasive Mean Arterial Blood Pressure",
            "Non-Invasive Mean Arterial Blood Pressure",
            "Invasive Systolic Arterial Blood Pressure",
            "Non-Invasive Systolic Arterial Blood Pressure",
        ):
            if var in (
                "Invasive Diastolic Arterial Blood Pressure",
                "Non-Invasive Diastolic Arterial Blood Pressure",
            ):
                var = var_bindings["dynamic"]["diastolic_arterial_bp_computed"]
            elif var in (
                "Invasive Mean Arterial Blood Pressure",
                "Non-Invasive Mean Arterial Blood Pressure",
            ):
                var = var_bindings["dynamic"]["mean_arterial_bp_computed"]
            elif var in (
                "Invasive Systolic Arterial Blood Pressure",
                "Non-Invasive Systolic Arterial Blood Pressure",
            ):
                var = var_bindings["dynamic"]["systolic_arterial_bp_computed"]
            # check bp variables priority (use invasive, if not available use non-invasive)
            if tup.variableid not in ("100", "110", "120"):
                # non-invasive bp, check if there's some bp value already present
                if tmp_dict[row_key][var] is not None:
                    # bp value already present, skip since it's probably an invasive one
                    continue
            tmp_dict[row_key][var] = tup.value

    df_dynamic = pd.DataFrame(
        data=tmp_dict.values(),
        columns=dynamic_columns,
    )
    df_dynamic["Patient ID"] = pid
    # sum of the other gcs
    df_dynamic[var_bindings["dynamic"]["gcs-total_computed"]] = (
        pd.to_numeric(df_dynamic[var_bindings["dynamic"]["10000100"]])
        + pd.to_numeric(df_dynamic[var_bindings["dynamic"]["10000200"]])
        + pd.to_numeric(df_dynamic[var_bindings["dynamic"]["10000300"]])
    )
    # https://www.thecalculator.co/health/Anion-Gap-Calculator-678.html
    df_dynamic[var_bindings["dynamic"]["anion_gap_computed"]] = pd.to_numeric(
        df_dynamic[var_bindings["dynamic"]["20000400"]]
    ) - (
        pd.to_numeric(df_dynamic[var_bindings["dynamic"]["24000439"]])
        + pd.to_numeric(df_dynamic[var_bindings["dynamic"]["20004200"]])
    )

    df_dynamic.set_index(
        pd.Index(tmp_dict.keys(), name="Minutes of Stay"),
        drop=True,
        inplace=True,
    )
    df_dynamic.to_csv(f"./results/{tup.patientid}/{tup.patientid}_dynamic.csv")

# Bin Patients' Data

In [15]:
var_bindings = dict()
with open("./var_id_var_name_bindings.json", "r") as f:
    var_bindings = json.load(f)


HYPER_bin_time = 2  # hours
HYPER_categ_agg = "mode"  # possible values: mode, last
HYPER_numer_agg = "mean"  # possible values: mean, median, last


def custom_mode(x):
    m = pd.Series.mode(x)
    return m.iloc[0] if not m.empty else None


def get_agg_method(x):
    if x == "last" or x == "mean":
        return x
    elif x == "mode":
        return custom_mode
    elif x == "median":
        return np_nanmedian


for pid in patientids:
    df_dynamic = pd.read_csv(f"./results/{pid}/{pid}_dynamic.csv")
    # remove datetime and entertime as no longer needed
    df_dynamic.drop(
        [var_bindings["dynamic"]["datetime"], var_bindings["dynamic"]["entertime"]],
        axis=1,
        inplace=True,
    )

    # bin minutes of stay
    df_dynamic.loc[:, "Minutes of Stay"] = (
        df_dynamic["Minutes of Stay"]
        // (HYPER_bin_time * 60)  # floor division by two hours (obtain hours)
        * (HYPER_bin_time * 60)  # multiply again to obtain minutes
    )
    # extract categorical/numerical variables
    categorical_vars = (
        "Patient ID",
        "Glasgow Coma Score - Verbal Response",
        "Glasgow Coma Score - Motor Response",
        "Glasgow Coma Score - Eye Opening",
        "Glasgow Coma Score - Total",
        "APACHE II Group",
        "APACHE IV Group",
        "Circadian rhythm",
        "Richmond agitation-sedation scale",
        "Train of four count",
        "Ventilator Airway Code",
        "Ventilator mode",
    )
    numerical_vars = [
        x
        for x in df_dynamic.columns
        if x != "Minutes of Stay" and x not in categorical_vars
    ]
    agg_dict = {x: get_agg_method(HYPER_categ_agg) for x in categorical_vars}
    agg_dict.update({x: get_agg_method(HYPER_numer_agg) for x in numerical_vars})
    # apply aggregation methods
    df_tmp = df_dynamic.groupby(by=["Minutes of Stay"]).agg(agg_dict)
    df_tmp.reset_index(inplace=True)

    # check if patient still has 2+ lactate measures, if not skip patient
    if (
        df_tmp[var_bindings["dynamic"][config["lactate_var_ids"][0]]].notnull().sum()
        < 2
    ):
        continue

    # filter first two days of stay
    df_tmp = df_tmp[df_tmp["Minutes of Stay"] <= 60 * 24 * 2]
    # filter data between first and last lactate measurements
    df_tmp = df_tmp.iloc[
        # first lactate index
        df_tmp[pd.notna(df_tmp[var_bindings["dynamic"][config["lactate_var_ids"][0]]])]
        .iloc[0]
        .name :
        # last lactate index + 1
        df_tmp[pd.notna(df_tmp[var_bindings["dynamic"][config["lactate_var_ids"][0]]])]
        .iloc[-1]
        .name
        + 1
    ]
    # reapply bp priority
    for tup in df_tmp.itertuples():
        df_tmp.loc[
            tup.Index, var_bindings["dynamic"]["diastolic_arterial_bp_computed"]
        ] = (
            df_tmp.loc[
                tup.Index, ["Invasive Diastolic Arterial Blood Pressure"]
            ].values[0]
            if pd.notna(
                df_tmp.loc[
                    tup.Index, ["Invasive Diastolic Arterial Blood Pressure"]
                ].values[0]
            )
            else (
                df_tmp.loc[
                    tup.Index, ["Non-Invasive Diastolic Arterial Blood Pressure"]
                ].values[0]
                if pd.notna(
                    df_tmp.loc[
                        tup.Index, ["Non-Invasive Diastolic Arterial Blood Pressure"]
                    ].values[0]
                )
                else None
            )
        )
        df_tmp.loc[tup.Index, var_bindings["dynamic"]["mean_arterial_bp_computed"]] = (
            df_tmp.loc[tup.Index, ["Invasive Mean Arterial Blood Pressure"]].values[0]
            if pd.notna(
                df_tmp.loc[tup.Index, ["Invasive Mean Arterial Blood Pressure"]].values[
                    0
                ]
            )
            else (
                df_tmp.loc[
                    tup.Index, ["Non-Invasive Mean Arterial Blood Pressure"]
                ].values[0]
                if pd.notna(
                    df_tmp.loc[
                        tup.Index, ["Non-Invasive Mean Arterial Blood Pressure"]
                    ].values[0]
                )
                else None
            )
        )
        df_tmp.loc[
            tup.Index, var_bindings["dynamic"]["systolic_arterial_bp_computed"]
        ] = (
            df_tmp.loc[tup.Index, ["Invasive Systolic Arterial Blood Pressure"]].values[
                0
            ]
            if pd.notna(
                df_tmp.loc[
                    tup.Index, ["Invasive Systolic Arterial Blood Pressure"]
                ].values[0]
            )
            else (
                df_tmp.loc[
                    tup.Index, ["Non-Invasive Systolic Arterial Blood Pressure"]
                ].values[0]
                if pd.notna(
                    df_tmp.loc[
                        tup.Index, ["Non-Invasive Systolic Arterial Blood Pressure"]
                    ].values[0]
                )
                else None
            )
        )

    df_tmp.set_index(
        "Minutes of Stay",
        drop=True,
        inplace=True,
    )
    df_tmp.to_csv(f"./results/{pid}/{pid}_dynamic_binned2h_48h.csv")

# Filter Lactate_Measurements >= 2 in First Binned 2d of Stay

In [16]:
filtered_pids = list()
previously_filtered = list()
with open("./results/patients_18+_1d+_2+lactate_measurements_in_first2d.txt", "r") as f:
    previously_filtered.extend(int(x) for x in f.readlines())

for pid in previously_filtered:
    for filename in glob.glob(f"./results/{pid}/*binned*.csv"):
        filtered_pids.append(pid)
        continue

with open(
    "./results/patients_18+_1d+_2+lactate_measurements_in_first2d_binned.txt", "w"
) as f:
    for x in filtered_pids:
        f.write(f"{x}\n")
print(len(filtered_pids))

14688